body{
    background-color: skyblue;
    cursor:none;
}   
#plane{
    position:absolute;  
    width:100px;
    height: 100px;
    text-align: inherit;
    background-color: black;
    color:red;
    cursor:none;
}
#grass{
    position:absolute;
    left:0px;
    top:90vh;
    height:10vh;
    width:100vw;
    background-color: green;
    cursor:none;
}