#body{
    background-color: blue;
}
/* #plane{
    position:absolute;
    top:50vh;
    left:50vw;
    width:100px;
    height: 100px;
    text-align: inherit;
    background-color: black;
    color:red;
} */